/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.palette {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center; /* Sütun içindeki öğeleri ortalamak için */
}

.palette input[type="color"] {
  margin-bottom: 10px; /* Renk girişinden sonra boşluk bırakmak için */
}

.palette button {
  margin-top: 10px; /* Butonun üstünde boşluk bırakmak için */
  padding: 8px 16px; /* Butona biraz dolgunluk eklemek için */
  background-color: #007bff; /* Arka plan rengi */
  color: white; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  cursor: pointer; /* Üzerine gelince el işareti göster */
  border-radius: 4px; /* Köşeleri yuvarlamak için */
}

.palette button:hover {
  background-color: #0056b3; /* Butona fare ile gelince farklı bir arka plan rengi */
}
